html {
  background-color: black;
  color : white;
}

div{
  color: white;
}

table {
    /*border-top: 20px;*/
    width:50%;
}
/*
table, th, td {
    border: 1px solid white;
}*/

th {
  font-size: 120%; 
  background-color: black;
}

th.orangeBar {
  background-color: orange; 
}

td {
  background-color: black; 
}

td.section {
  min-width: 10em;
}

td.purplesection {
  background-color: purple;
}

td.statsection {
  max-width: 2em;
}

td.buttontd {
  min-width: 1em;
  max-width: 1em;
  justify-content: center;
}

input {
  width:95%;
}

p input[type="button"] {
  max-width: 10em;
}

input.buttons {
  background-color: purple;
  color: white;
  border-color: black;
}

input.buttons:disabled {
  background-color:   hsl(270, 100%, 95%);
  color: grey;
}

table.headtable input[type="button"] {
  max-width: 10em;
}

textarea { 
  min-height:6em; 
  min-width: 95%;
}

select {
  width:100%;
}

select.multiselect {
  min-height:6em;
}

select.weaponSelects {
  width:100%;
}